<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
    <div>
        <%= "Send a message to #{@recipient.username}" %>
    </div>
    
    <%= hidden_field_tag :recipient_id, @recipient.id %>

    <div class="field">
        <%= text_field_tag :subject, nil, placeholder: 'Subject' %>
    </div>

    <div class="field">
        <%= text_area_tag :body, nil, placeholder: "Send a message" %>
    </div>  

    <div class="actions">
        <%= submit_tag 'Send' %>
    </div>
<% end %> 