<%# validation for quantity, if quantity zero product show will not display %>  
<% if @product.quantity_zero? && !current_user.is_admin? %>
    <h2> Sorry, this artwork is not available! Click back to go back to homepage.</h2>
  <% else %>

<% if @product.quantity_zero? && current_user.is_admin? %>
<h2> This artwork is no longer available for sale.</h2>
<% end %>

<p>
  <strong>Artwork name:</strong>
  <%= @product.product_title %>
</p>

<p>
  <% if @product.image.attached? %>
   <%= cl_image_tag(@product.image.key) %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @product.medium %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @product.creator %>
</p>

<p>
  <strong>Seller:</strong>
  <%# link for user products %>
  <%= link_to @product.user.username, userproducts_path(@product.user.id) %>
</p>
<%# form tag helper going to charges path %>
<%= form_tag charges_path do %>
  <article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
       <p><%= flash[:error] %></p>
    </div>
  <% end %>
  </article>

  <%# dont allow creator to purchase own items %>
  <% if @product.can_change?(current_user) %>
    <%#= link_to 'Purchase disabled: You cannot purchase your own items', products_path%> 
  <% else %>
    
    <%# code block for stripe payments added purchase lable %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description= "<%= @product.product_title %>"
            data-amount="<%= @product.price_in_cents %>"
            data-currency="aud"
            data-label="Purchase!" 
            data-locale="auto"></script>
  <% end %>
<% end %>

<%# validates only user who created product or admin can edit %>
  <% if @product.can_change?(current_user) %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
<% end %>
  <%= link_to 'Back', products_path %>

