<!DOCTYPE html>
<html>
  <head>
    <title>Kraftme</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%# <p id="notice"><%= notice</p> %> 
    <p id="alert"><%= alert %></p>

<%# implemented a fixed nav bar %>
    <nav class="navbar nav-fixed-top navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">KraftMe</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          
          <% if user_signed_in? %>
            <h4>Welcome <%= current_user.email %>!</h4> 
            <li><%= link_to 'Home', products_path %><li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'Update Profile', edit_user_registration_path %></li>
          <% else %>
            <%= link_to 'Login or Sign Up!', new_user_session_path %>
          <% end %>
        </ul>
     </div>     
    </nav>

    <div class="jumbotron">
      <%= yield %>
    </div>

  </body>
</html>



  
    
    
      

   
  

